@media (prefers-color-scheme: dark) {
    .Hint_tooltip_lwcp9 {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .TabItem_container_VSqU9 {
        fill: #f1f1f1;
        color: #f1f1f1
    }

    .TabItem_container_VSqU9.TabItem_active_lXfvy {
        background-color: #262626
    }

    .TabItem_container_VSqU9:visited {
        color: #f1f1f1
    }

    .TabItem_container_VSqU9:hover {
        fill: #f15f2c;
        color: #f15f2c
    }


    .TabItem_container_VSqU9.TabItem_active_lXfvy:hover {
        color: #f1f1f1
    }

    .ContainedButton_disabled_xyhyE:not(.ContainedButton_activated_RwGzY) {
        background-color: #303030;
        color: #4a4a4a
    }

    .ContainedButton_activated_RwGzY {
        background: rgba(241, 95, 44, .1)
    }


    .ContainedButton_activated_RwGzY:hover {
        background: rgba(241, 95, 44, .1)
    }

    .OutlinedButton_button_gVLJD {
        background-color: #303030;
        border-color: #303030;
        color: #f1f1f1
    }

    .OutlinedButton_button_gVLJD:hover:not(.OutlinedButton_disabled_eJ2hB) {
        background-color: #4a4a4a;
        color: #f1f1f1
    }

    .OutlinedButton_disabled_eJ2hB {
        color: #4a4a4a
    }

    .IconButton_button_I6Es6 {
        background-color: #303030;
        color: #f1f1f1
    }

    .IconButton_disabled_vnrq7:not(.IconButton_activated_uil1M) {
        background-color: #303030;
        color: #4a4a4a
    }


    .IconButton_disabled_vnrq7:not(.IconButton_activated_uil1M):hover {
        background-color: #303030
    }

    .IconButton_activated_uil1M {
        background: rgba(241, 95, 44, .1)
    }


    .IconButton_activated_uil1M:hover {
        background: rgba(241, 95, 44, .1)
    }

    .Board_container_ArScH {
        background-color: #303030
    }

    .Board_title_hEZvy {
        color: #f1f1f1
    }

    .Board_containerBordered_VvGaG .Board_footer_zT7Yz {
        border-top: 1px solid #4a4a4a
    }

    .Card_block_ezGsl {
        background-color: #262626;
        margin-bottom: 0
    }

    .FileButton_label_wRR_W {
        background-color: #303030;
        border: 1px solid #303030;
        color: #f1f1f1
    }

    .desktop .FileButton_label_wRR_W:hover {
        background-color: #4a4a4a;
        color: #f1f1f1
    }

    .Hint_container_L2OYW {
        background-color: #fff;
        border-color: #eaeaea;
        color: #242b2c
    }

    .TooltipPortal_content_Vmttd {
        padding: 12px 15px
    }

    .TooltipPortal_content_Vmttd {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .Tooltip_content_ibUr0 {
        padding: 12px 15px
    }

    .Tooltip_content_ibUr0 {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .InputField_inputField_vzhmi {
        background-color: transparent;
        border: 1px solid #4a4a4a;
        color: #f1f1f1
    }

    .InputField_inputField_vzhmi::placeholder {
        color: hsla(0, 0%, 51%, .5)
    }

    .InputField_inputField_vzhmi:not(.InputField_invalid_Og_tf):hover {
        border-color: #838383
    }

    .InputField_inputField_vzhmi:not(.InputField_invalid_Og_tf):focus {
        border-color: #f15f2c
    }

    .InputField_inputField_vzhmi[disabled] {
        background-color: #303030
    }

    .InputField_inputField_vzhmi[disabled]:hover {
        border-color: #4a4a4a
    }

    .InputField_invalid_Og_tf {
        border-color: #cd3544
    }

    .Label_label_jOBgY {
        color: #f1f1f1
    }

    .Input_staticText_b7u8D {
        color: #f1f1f1
    }

    .Input_error_n7k0B {
        color: #cd3544
    }

    .Pagination_paginationItem_uhBIU {
        background-color: #303030;
        border-color: #303030;
        color: #f1f1f1
    }

    .Pagination_paginationItem_uhBIU:hover {
        background-color: #f15f2c
    }

    .Pagination_paginationItemSelected_HgSpV {
        background-color: #4a4a4a;
        border-color: #4a4a4a;
        color: #f1f1f1
    }

    .Pagination_paginationItemSelected_HgSpV:hover {
        background-color: #4a4a4a;
        cursor: default
    }

    .Pagination_arrow_EHNHE {
        color: #5a6a7a
    }

    .Pagination_arrowDisabled_Q8U72 {
        color: #eaeaea
    }

    .Pagination_ellipsis_oXO6_ {
        color: #5a6a7a
    }

    .PopupContent_close_s4F2c {
        color: #f1f1f1
    }

    .PopupContent_block_P9UTg {
        background-color: #262626
    }

    .Popup_wrapper_ZeN1U {
        background-color: rgba(0, 0, 0, .8)
    }

    .Popup_content_IuiXF {
        position: relative
    }

    .Popup_blockColorful_kSNX_ {
        background-color: transparent
    }

    .Popup_colorfulBg_h8rA6 {
        background: #191919;
        border-radius: 8px;
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1
    }

    .Popup_colorfulBg_h8rA6:after, .Popup_colorfulBg_h8rA6:before {
        border-radius: 50%;
        content: "";
        filter: blur(90px);
        height: 172px;
        opacity: 0;
        position: absolute;
        top: -75px;
        width: 172px;
        z-index: 0
    }

    .Popup_colorfulBg_h8rA6:after {
        animation: Popup_fadeIn_P5FYZ 1s ease-out .4s forwards, Popup_zoomInOut_T7ECY 16s .4s infinite;
        background: #f15f2c;
        left: -107px
    }

    .Popup_colorfulBg_h8rA6:before {
        animation: Popup_fadeIn_P5FYZ 1s ease-out .2s forwards, Popup_zoomInOut_T7ECY 10s .2s infinite;
        background: #2cd9f1;
        right: -107px
    }

    .Popup_colorfulBg_h8rA6 .middleFlash:before {
        animation: Popup_fadeIn_P5FYZ 1.2s ease-out forwards, Popup_zoomInOut_T7ECY 13s infinite;
        background: #772cf1;
        border-radius: 50%;
        content: "";
        filter: blur(90px);
        height: 172px;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: -186px;
        width: 172px;
        z-index: 0
    }

    .ProgressBar_root_auf7c {
        background-color: #eaeaea
    }

    .ProgressBar_progressLine_mQ_fy {
        background-image: #f15f2c
    }

    .ScrollableComponent_container_thZKg {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .ScrollableComponent_container_thZKg::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .SimpleCheckBox_checkbox_cnRA7 {
        background-color: transparent;
        border: 1px solid #4a4a4a
    }

    .SimpleCheckBox_checkbox_cnRA7:hover {
        border-color: #838383
    }

    .SimpleCheckBox_checked_ilnv6 {
        background-color: #f15f2c;
        border-color: #f15f2c
    }

    .SimpleCheckBox_checked_ilnv6:hover {
        border-color: #f15f2c
    }

    .SimpleCheckBox_checkboxDisabled_cg4dF {
        background-color: #303030
    }

    .SimpleCheckBox_checkboxDisabled_cg4dF:hover {
        border-color: #4a4a4a
    }

    .SimpleCheckBox_label_VqMNU {
        color: #f1f1f1
    }

    .SimpleCheckBox_labelDisabled_DwH3w {
        color: #838383
    }

    .SelectOption_option_U4zs3 {
        color: #f1f1f1
    }

    .Select_optionsContainer_Tm6EZ {
        background: #262626;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1)
    }

    .Select_mainBox_yfm53 {
        background: transparent;
        border: 1px solid #4a4a4a;
        color: #f1f1f1
    }

    .Select_mainBox_yfm53.Select_disabled_ynU2M {
        background-color: #303030;
        color: #838383
    }

    .Select_mainBox_yfm53.Select_disabled_ynU2M:hover {
        border-color: #4a4a4a
    }

    .Select_mainBox_yfm53.Select_invalid_sadpV, .Select_mainBox_yfm53.Select_invalid_sadpV:hover {
        border-color: #cb1a1a
    }

    .Select_mainBoxActive_OFxob:hover {
        border-color: #f15f2c
    }

    .Select_mainBox_yfm53:hover {
        border-color: #838383
    }

    .Select_arrow_rW0cm {
        fill: #f1f1f1
    }

    .Select_disabled_ynU2M .Select_arrow_rW0cm {
        color: #838383
    }

    .Select_noOptions_wvs3Z, .Select_placeholder_ORxRd {
        color: hsla(0, 0%, 95%, .5)
    }

    .Select_inline_APdhk .Select_arrow_rW0cm {
        fill: #242b2c
    }

    .Select_error_rFT04 {
        color: #cd3544
    }

    .TabItem_container_qGIZ6.TabItem_active_RS5JT:hover {
        color: #fff
    }

    .TabItem_container_qGIZ6 {
        color: #fff
    }

    .TabItem_container_qGIZ6.TabItem_active_RS5JT:hover {
        color: #fff
    }

    .RadioBox_box_us6us {
        background: #303030;
        border: 1px solid transparent;
        color: #f1f1f1
    }

    .RadioBoxGroup_label_p7mOY {
        color: #f1f1f1
    }

    .TooltipContent_root_aQuYV {
        padding: 12px 15px
    }

    .TooltipContent_root_aQuYV {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .TooltipTitle_root_Lf61p:before {
        border-top-color: #303030
    }

    .TooltipTitle_root_Lf61p:after {
        border-top-color: #262626
    }

    .TooltipTitle_root_Lf61p.TooltipTitle_centerBottom_EmsZC:before {
        border-bottom-color: #303030;
        border-top-color: transparent
    }

    .TooltipTitle_root_Lf61p.TooltipTitle_centerBottom_EmsZC:after {
        border-bottom-color: #262626;
        border-top-color: transparent
    }

    .TooltipTitle_content_bivJS {
        padding: 0
    }

    .VerticalRadioTabItem_root_TdF_J {
        fill: #f1f1f1;
        color: #f1f1f1
    }

    .VerticalRadioTabItem_root_TdF_J.VerticalRadioTabItem_active_WPi2_ {
        background-color: #262626
    }

    .VerticalRadioTabItem_root_TdF_J:visited {
        color: #f1f1f1
    }

    .VerticalRadioTabItem_root_TdF_J:hover {
        fill: #f15f2c;
        color: #f15f2c
    }


    .VerticalRadioTabItem_root_TdF_J.VerticalRadioTabItem_active_WPi2_:hover {
        color: #f1f1f1
    }

    .TurnBlock_arrow_UBm2G {
        color: #f1f1f1
    }

    .TurnBlock_arrowContainer_o9cxn {
        border: 1px solid #4a4a4a;
        border-right: none
    }

    .TurnBlock_arrowContainerDisabled_AnIAE .TurnBlock_arrow_UBm2G {
        color: #4a4a4a
    }

    .Dropdown_container_ycpyS {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .CommonHint_mobileHint_fQmCu {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .CommonHint_desktopTooltip_RTCRv {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .Alerts_alert_q6R_6 {
        background-color: #262626;
        border-color: #303030;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .05)
    }

    .Alerts_close_qJx86, .Alerts_text_sw9a9 {
        color: #f1f1f1
    }

    .Error_title_xCwM9 {
        color: #f1f1f1
    }

    .Error_image_UyOvH {
        background-image: url(/assets/images/error-image-dark.103FZ.svg)
    }

    .Layout_monochrome_T6NVz {
        background-color: #191919
    }

    .MarketingAlert_root_kzVDS {
        background-color: #303030;
        border: 1px solid #4a4a4a
    }

    .MarketingAlert_linkText_sxbSM {
        color: #303030
    }

    .ImageUploader_root_QHJTG {
        border-color: #4a4a4a
    }

    .ImageUploader_root_QHJTG:not(.ImageUploader_active_c5cb_).ImageUploader_empty_J1b63 {
        background-color: #303030
    }

    .TitleEditor_title_xqHZ7 {
        color: #f1f1f1
    }

    .ImagesEditor_title_wvMcb {
        color: #f1f1f1
    }

    .SmilesOrBadgesForm_buttonDelete_B2y0R {
        fill: #cd3544;
        color: #cd3544
    }

    .SmilesOrBadgesForm_buttonDelete_B2y0R:hover:not(:disabled) {
        fill: #f1f1f1;
        background-color: #cd3544;
        color: #f1f1f1
    }

    .BindCardStep_iframe_oAC3W {
        background: radial-gradient(circle, #fff 0, #ccc 100%);
        border-radius: 8px
    }

    .BindCardStep_options_F6MmY {
        padding-bottom: 15px
    }

    .BindCardStep_options_F6MmY .BindCardStep_optionsRadioLabel__jdVn {
        color: #f1f1f1
    }

    .BindCardStep_options_F6MmY .BindCardStep_optionsRadioLabelDisabled_Dn9DU {
        color: #838383
    }

    .PaymentPopupFinalStep_header__XRZX {
        color: #f1f1f1
    }

    .InfoStep_pictureBindCardError_uBmTm {
        background-image: url(/assets/images/card-error-dark.69HIA.svg)
    }

    .InfoStep_pictureBindCardSuccess__tDnq {
        background-image: url(/assets/images/card-success-dark.1H2f2.svg)
    }

    .ConfirmPopup_description_OjX0W {
        color: #f1f1f1
    }

    .UnbindCardErrorPopup_popup_tdgeq {
        width: 450px
    }

    .ByPhone_filledField_lWOkP {
        border: 1px solid #4a4a4a;
        color: #f1f1f1
    }

    .LastAccount_header_M6MsL {
        color: #f1f1f1
    }

    .LastAccount_nameHeader_yQ8en {
        color: #f1f1f1
    }

    .Offer_offer_iciax {
        color: #7c7c7c
    }

    .Offer_link_BeZld {
        border-bottom: none;
        color: #a5a5a5
    }

    .Offer_link_BeZld:hover, .Offer_link_BeZld:visited {
        border-bottom: none
    }

    .Offer_link_BeZld:visited {
        color: #a5a5a5
    }

    .Offer_link_BeZld:hover {
        color: #f15f2c
    }

    .Authorization_subtitle_Dl5IF {
        color: #7c7c7c
    }

    .Authorization_googleIcon_xIilB:before {
        border: none
    }

    .Authorization_authByPhoneButton_Vy_Zd {
        margin-top: 23px
    }

    .Attachments_containerAttachments_PoXJx {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .Attachments_containerAttachments_PoXJx::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .PreviewMessagePopup_messageContainer_Po77K {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .PreviewMessagePopup_messageContainer_Po77K::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .Publisher_editor_lrEMS {
        background-color: #262626;
        border-color: #262626;
        color: #f1f1f1
    }

    .Publisher_editor_lrEMS ::selection {
        background-color: hsla(0, 0%, 95%, .2) !important
    }

    .Publisher_editorDisabled_IfkTp {
        background-color: #262626;
        border-right-color: #262626;
        color: hsla(0, 0%, 95%, .5)
    }

    .Publisher_iconSend_eJLU4 {
        stroke: hsla(0, 0%, 95%, .5)
    }

    .Publisher_actionsContainer_nXHDH {
        background-color: #262626;
        border-color: #262626
    }

    .Publisher_sendContainer_mXfrp {
        background-color: transparent
    }

    .desktop .Publisher_sendContainer_mXfrp:hover:not(:disabled) .Publisher_iconSend_eJLU4 {
        stroke: #f15f2c
    }

    .Publisher_sendContainer_mXfrp:before {
        border-right-color: #262626
    }

    .Publisher_editor_lrEMS {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .Publisher_editor_lrEMS::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .Publisher_root_OEAeu .codex-editor__redactor {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .Publisher_root_OEAeu .codex-editor__redactor::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .SmileButton_root_bPbsM {
        color: #7c7c7c
    }

    .SmileButton_rootActive_oo9xX .SmileButton_iconSmile_hvRec, .desktop .SmileButton_root_bPbsM:hover:not(:disabled) .SmileButton_iconSmile_hvRec {
        color: #f15f2c
    }

    .SmileItem_smileContainerLoading_eWtad, .desktop .SmileItem_smileContainer_XWQ2f:hover {
        background-color: #303030
    }

    .SmilesList_tooltipContent_MQxeE {
        background-color: #4a4a4a;
        padding: 5px 8px
    }

    .List_root_BupLC {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .List_root_BupLC::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .SmilesSelector_root_UDrAQ {
        background-color: #262626
    }

    .SmilesSelector_closeButton_iQIN9.SmilesSelector_highlighted_d9dmf, .SmilesSelector_navigation_RRqOT {
        background-color: #303030
    }

    .SmilesSelector_mode_ts0lf {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .SmilesSelector_mode_ts0lf::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .ExtraActionsMenu_icon_MuAII {
        color: #f1f1f1
    }

    .ExtraActionsMenuItem_root_Bfneb {
        color: #f1f1f1
    }

    .DialogueMessageList_list_mPuCc {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .DialogueMessageList_list_mPuCc::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .DialogueContactList_list_cYSzN {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .DialogueContactList_list_cYSzN::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .DialogueList_list_UffZ4 {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .DialogueList_list_UffZ4::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .DialogueMailingList_list_PjkY8 {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .DialogueMailingList_list_PjkY8::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .SendMessageConfirmPopup_content_ugG6V {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .SendMessageConfirmPopup_content_ugG6V::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .PaymentLevelCard_levelName_WCdsv, .PaymentLevelCard_paymentDataBlackText__ckGH, .PaymentLevelCard_price_ZHVIw {
        color: #f1f1f1
    }

    .CreateBlogForm_adultContentLabel_xdwMg, .CreateBlogForm_checkboxLabel__3RSF {
        color: #f1f1f1
    }

    .CreateBlogForm_adultContentHintTooltipContent_R9Ibt {
        background-color: #191919
    }

    .BecomeAuthorForm_block_EbMsJ {
        background-color: #262626
    }

    .BecomeAuthorPopup_cover_mfjmy {
        background-image: url(/assets/images/cover-bg.2USxd.png)
    }

    .StepPayment_title_ezkHX {
        color: #f1f1f1
    }

    .mobile .StepStartGiftSubscription_levelCardContainer_ov1Ws [aria-hidden=false] [aria-hidden=true] {
        border: 1px solid #4a4a4a
    }

    .TargetProgress_block_b0xRt:last-child {
        border-bottom: none
    }

    .GiftInfo_pictureBindCardError_IpgHi {
        background-image: url(/assets/images/card-error-dark.69HIA.svg)
    }

    .GiftInfo_pictureBindCardSuccess_cLhzG {
        background-image: url(/assets/images/card-success-dark.1H2f2.svg)
    }

    .StepSuccess_description_onh7j {
        color: #f1f1f1
    }

    .StepSuccess_message_Ue2oL, .StepSuccess_post_drJeC {
        background-image: url(/assets/images/post-unlock.5wAkP.svg)
    }

    .StepSuccess_donation_M7_Lt {
        background-image: url(/assets/images/funding.2HFv6.svg)
    }

    .StepSuccess_subscription_GOnlV {
        background-image: url(/assets/images/thank-you.3exON.svg)
    }

    .StepSuccess_imageSide_DHyuj {
        background-color: #fde2d9
    }

    .StepFailure_header_Pw7HW {
        color: #f1f1f1
    }

    .StepFailure_failImage_oZKfh {
        background-image: url(/assets/images/card-error-dark.69HIA.svg)
    }

    .TelegramConnectionContent_qrCodeContainer_m8yI0 {
        border-color: transparent
    }

    .SubscriptionsMenu_subscription_DI2_i {
        color: #f1f1f1
    }

    .Subscriptions_root_Sefuj {
        background-color: #262626;
        border-color: #262626
    }

    .NotificationsButton_icon_R5ZsL {
        color: #f1f1f1
    }

    .NotificationsButton_button_tQ6Ho {
        background-color: #303030;
        border-color: #303030;
        color: #f1f1f1
    }

    .NotificationsButton_button_tQ6Ho:hover {
        background-color: #4a4a4a
    }

    .NotificationsEmpty_wrapper_dNAcG .NotificationsEmpty_image_KCrK6 {
        background-image: url(/assets/images/bell-dark.6XgIT.svg)
    }

    .NotificationsEmpty_wrapper_dNAcG .NotificationsEmpty_title_cBYup {
        color: #f1f1f1
    }

    .NotificationsEmpty_wrapper_dNAcG .NotificationsEmpty_description_uoTRl, .light-theme .NotificationsEmpty_wrapper_dNAcG .NotificationsEmpty_description_uoTRl {
        color: #7c7c7c
    }

    .ContextMenu_button_SxnW7:hover .ContextMenu_menuIcon_Y0cwQ {
        color: #fff
    }

    .ContextMenu_dropdown_UQHMb {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .Preview_wrapper_nrQ2Y {
        stroke: #f5916e;
        color: #f5916e
    }

    .Preview_wrapper_nrQ2Y.Preview_colorBackground_nzwXz {
        background-color: #fdefea
    }

    .NotificationView_wrapper_CdkiL {
        border-bottom-color: #4a4a4a;
        color: #f1f1f1
    }

    .NotificationView_wrapper_CdkiL:hover, .NotificationView_wrapper_CdkiL:not(.NotificationView_read_SbXfB) {
        background-color: #303030
    }

    .NotificationView_wrapper_CdkiL:not(.NotificationView_read_SbXfB):hover {
        background-color: #4a4a4a
    }

    .NewNotification_wrapper_Rcg6k, .light-theme .NewNotification_wrapper_Rcg6k {
        background-color: #fdefea;
        color: #f15f2c
    }

    .Header_wrapper_bS6y6 {
        border-bottom-color: #303030
    }

    .NotificationsTab_wrapper_iZlGz {
        background-color: #262626;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2);
        color: #f1f1f1
    }

    .SearchInputView_iconReset_kON2y, .SearchInputView_iconSearch_RkeAy {
        color: #838383
    }

    .SearchInputView_iconSearchFocused_hTjuF {
        color: #f1f1f1
    }

    .SearchInput_suggestContainer_RPXEp {
        background-color: #262626;
        border-color: #303030;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
    }

    .SearchInput_suggestItem_nZh2l {
        transition: background-color .3s
    }

    .SearchInput_suggestItem_nZh2l:hover {
        background-color: #303030
    }

    .SearchInput_iconReset_a_9j7, .SearchInput_iconSearch_DaC_S {
        color: #838383
    }

    .SearchInput_iconSearchFocused_QknrS {
        color: #f1f1f1
    }

    .SearchResult_container_E0v1Z {
        background-color: #262626
    }

    .SearchResult_container_E0v1Z:hover {
        background-color: #303030
    }

    .SuggestItemTextSection_title_wOn9h {
        color: #f1f1f1
    }

    .SuggestItemTextSection_subtitle_NbEz8 {
        color: #7c7c7c
    }

    .SearchByBlogsInline_input_kbBJF {
        background-color: #303030;
        border-color: #303030
    }

    .SearchByBlogsInline_searchIcon_uxVYy {
        color: #7c7c7c
    }

    .SearchByBlogsInline_showAllLink_IvUeI {
        background-color: #262626
    }

    .ProfileDropdownItem_logoutItem_nuBfX {
        border-top-color: #303030
    }

    .MiniProfile_arrow_dEEwT, .MiniProfile_link_rQTY2, .MiniProfile_link_rQTY2:visited, .MiniProfile_name__2xYu {
        color: #f1f1f1
    }

    .MiniProfile_dropdown_Y7YOk {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .TopMenu_block_X9bqx {
        background-color: #262626;
        border-bottom-color: #303030
    }

    .TopMenu_logo_UXt7J {
        background-image: url(/assets/images/logo-dark.6i6jL.svg);
        height: 40px;
        width: 145px
    }

    .TopMenu_iconBurger_DxPT3, .TopMenu_iconMessages_zy_w6 {
        fill: #f1f1f1
    }

    .TopMenu_messagesContainer_hzgjz, .TopMenu_subscriptionsContainer_STZpH {
        background-color: #303030;
        border-color: #303030;
        color: #f1f1f1
    }

    .TopMenu_messagesContainer_hzgjz:hover, .TopMenu_subscriptionsContainer_STZpH:hover {
        background-color: #4a4a4a
    }

    .TopMenu_localeComponent_kYURs.TopMenu_selected_eiX0a {
        fill: #f1f1f1;
        color: #f1f1f1
    }

    .TopMenu_smallSelectArrow_FFduW {
        color: #f1f1f1
    }

    .FollowButton_icon_Eop6s {
        color: #f1f1f1
    }

    .SocialLinkIcon_icon_O95r6 {
        fill: #f1f1f1;
        color: #f1f1f1
    }

    .CopyInput_root_CUbUo {
        background-color: #262626;
        border: 1px solid #262626
    }

    .CopyInput_input_ZWPVn {
        background-color: #303030;
        color: #f1f1f1
    }

    .CopyInput_copy_hUTSG {
        background-color: #303030;
        border-left: 1px solid #262626
    }

    .ShareDropdown_dropdownButtonIcon_djS3m {
        stroke: #f1f1f1
    }

    .ShareDropdown_dropdownContainer_DpktR {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .SubscriptionLevelsItem_root_PZSzU {
        background-color: #303030;
        border-radius: 8px;
        color: #fff
    }

    .SubscriptionLevelsItem_name_wOi_w {
        line-height: 22px
    }

    .SubscriptionLevelsItem_bottomPanel_siBQp, .SubscriptionLevelsItem_price_dw4UQ {
        color: hsla(0, 0%, 95%, .6)
    }

    .SubscriptionLevelsItem_description_s3fr4 {
        color: #f1f1f1;
        line-height: 22px
    }

    .SubscriptionLevelsItem_tooltip_QyGxm {
        background-color: #4a4a4a;
        border-color: #303030
    }

    .SubscriptionLevelsItem_showMore_E58Ia:before {
        background: linear-gradient(180deg, rgba(48, 48, 48, 0), #303030)
    }

    .SubscriptionLevels_ownerTitle_NfIvP, .light-theme .SubscriptionLevels_ownerTitle_NfIvP, .light-x-theme .SubscriptionLevels_ownerTitle_NfIvP {
        border-bottom: none
    }

    .BlogWrapper_userCardReadOnly_KXazH {
        background-color: #ff0
    }

    .BlogWrapper_userCardBanned_ou9RQ {
        background-color: red
    }

    .ModerationPopupControls_button_oDViU:hover:not(.ModerationPopupControls_disabled_SUqI4) {
        background-color: #4a4a4a;
        border-color: #303030
    }

    .ModerationPopupControls_timeoutSelect_Q0jjs {
        background-color: #262626
    }

    .ModerationPopupControls_timeoutOption_phgZ1 {
        color: #f1f1f1
    }

    .ModerationPopupInfo_count_OwLBu {
        color: #f1f1f1
    }

    .ModerationPopupInfo_delimiter_lEul0 {
        background-color: #303030
    }

    .ModerationPopupInfo_banStatus_IoVjC {
        color: #f1f1f1
    }

    .ModerationPopupSubscriptionLevel_icon_iMc87 {
        color: #f1f1f1
    }

    .ModerationPopupSubscriptionLevel_level_eIP2u {
        color: #f1f1f1
    }

    .ModerationPopupUser_username_qIuys {
        color: #f1f1f1
    }

    .ModerationPopup_tooltip_JB0P3 {
        background-color: #262626;
        border-color: #262626
    }

    .ModerationPopup_closeIcon_o8zo9 {
        color: #f1f1f1
    }

    .Controls_item_PLi8B, .Controls_item_PLi8B:visited {
        color: #f1f1f1
    }

    .PopupInfo_count_N8Tpw {
        color: #f1f1f1
    }

    .PopupInfo_delimiter_K5hM4 {
        background-color: #303030
    }

    .PopupInfo_banStatus_oRWtK {
        color: #f1f1f1
    }

    .PopupUser_username_cBLV2 {
        color: #f1f1f1
    }

    .ChatMessage_tooltip_Rf2Bi {
        padding: 12px 15px
    }

    .ChatMessage_root_QMWUx.ChatMessage_active_s4zKz:not(.ChatMessage_userBanned_W6DfA):not(.ChatMessage_hasRootMention_Xmr24), .ChatMessage_root_QMWUx:hover:not(.ChatMessage_userBanned_W6DfA):not(.ChatMessage_hasRootMention_Xmr24) {
        background-color: #262626;
        border-color: #262626
    }

    .ChatMessage_button_b4MaF {
        background-color: #262626;
        border-color: #262626
    }

    .ChatMessage_button_b4MaF {
        border-bottom-color: #262626
    }

    .ChatMessage_firstMessage_qpzyx .ChatMessage_button_b4MaF {
        border-top-color: #262626
    }

    .ChatMessage_button_b4MaF:hover {
        background: linear-gradient(0deg, #262626 0, #262626 50%, rgba(241, 95, 44, .2)), #262626
    }

    .ChatMessage_firstMessage_qpzyx .ChatMessage_button_b4MaF:hover {
        background: linear-gradient(180deg, #262626 0, #262626 50%, rgba(241, 95, 44, .2)), #262626
    }

    .ChatMessage_button_b4MaF:before {
        box-shadow: 2px 8px 0 0 #262626
    }

    .ChatMessage_button_b4MaF:after {
        box-shadow: -2px 8px 0 0 #262626
    }

    .ChatMessage_text_sXPvk {
        color: #e3e3e5
    }

    .ChatMessage_tooltip_Rf2Bi {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .ChatBoxBase_root_OayIa {
        background-color: #191919
    }

    .ChatBoxBase_infoMessage_gFyxw {
        color: hsla(0, 0%, 95%, .5)
    }

    .ChatBoxBase_list_Kg9et {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .ChatBoxBase_list_Kg9et::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .ChatBoxBase_listLite_QMbfG {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    .ChatBoxBase_listLite_QMbfG::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    .BannedPermanentlyWarning_title_Eko1J {
        color: #f1f1f1
    }

    .BannedPermanentlyWarning_description_EHl2d {
        color: #eee
    }

    .BannedTemporarilyWarning_title_rTY4G {
        color: #f1f1f1
    }

    .BannedTemporarilyWarning_description_i6hqx {
        color: #eee
    }

    .CharLimitWarning_description_doC9w {
        color: #eee
    }

    .FrequentSendingWarning_description_JAYfB {
        color: #eee
    }

    .IdenticalMessageWarning_description_mEYrY {
        color: #eee
    }

    .InvalidParamWarning_description_AgfnY {
        color: #eee
    }

    .AccessLabel_dropdown_YfOY7 {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .SettingsDropdown_dropdown_CLfmA {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .StreamViewers_container_f8uw0 {
        color: #f1f1f1
    }

    .LikeButton_icon_tlePq {
        stroke: #f1f1f1
    }

    .LikeButton_container_bZaLj {
        color: #f1f1f1
    }

    .LikeButton_iconLiked_ETS_f, .light-theme .LikeButton_iconLiked_ETS_f, .light-x-theme .LikeButton_iconLiked_ETS_f {
        stroke: #cd3544;
        fill: #cd3544
    }

    .StreamFooter_container_McooB {
        background-color: #262626
    }

    .StreamFooter_dotsIcon_Hkzkq {
        fill: #f1f1f1
    }

    .StreamFooter_theatreButton_fwh7M {
        color: #f1f1f1
    }

    .TeaserOverlay_defaultImage_uiSMR, .light-theme .TeaserOverlay_defaultImage_uiSMR {
        background-image: url(/assets/images/blur-cover.2iajq.png)
    }

    .AboutAuthor_aboutAuthor_O4DqL {
        background-color: #262626;
        color: #f1f1f1
    }

    .AboutAuthor_title_Zud8r {
        color: #7c7c7c
    }

    .AboutAuthor_icon_Be9R6 {
        color: #f1f1f1
    }

    .AboutStream_aboutStream_R9big {
        background-color: #262626
    }

    .AboutStream_title_nHuQU {
        color: #7c7c7c
    }

    .AboutStream_description_Xftm4 {
        color: #f1f1f1
    }

    .StreamAuthorAvatar_streamStatus_cdZV_ {
        border-color: #191919
    }

    .StreamAuthorAvatar_photo_BpsUs {
        border-color: transparent
    }

    .StreamSubscriptionOverlay_container_mic23 {
        background-color: #262626
    }

    .StreamSubscriptionOverlay_pictureLocked_RRX43 {
        background-image: url(/assets/images/locked-dark.vSSqo.svg)
    }

    .StreamSubscriptionOverlay_subscriptionLevel_wS4IZ {
        color: #7c7c7c;
        font-size: 16px;
        font-weight: 400
    }

    .StreamSubscriptionOverlay_subscriptionName_qyLvf {
        color: #f1f1f1;
        font-size: 20px
    }

    .StreamTimeCounter_container_Jxxp9 {
        color: #f1f1f1
    }

    .SubscribeButtonBase_subscribeButtonActive_oRUDk {
        background-color: #303030;
        color: #f1f1f1
    }

    .PaidSubscribersOnlyWarning_title_f7U3R {
        color: #f1f1f1
    }

    .PaidSubscribersOnlyWarning_description_D4Nhc {
        color: #eee
    }

    .ChatPublisherWrapper_root_oUAwu.ChatPublisherWrapper_active_uMJ9c {
        background-color: #3c3c3c
    }

    .live .ChatPublisherWrapper_root_oUAwu.ChatPublisherWrapper_active_uMJ9c {
        background-color: transparent
    }

    .ChatPublisherWrapper_replyIcon_U2qIJ, .ChatPublisherWrapper_replyTitle_qFBHQ {
        color: #f1f1f1
    }

    .ChatPublisher_root_fJ6LO {
        background-color: #191919
    }

    .ChatPublisher_publisherRootWarning_LHAXa, .ChatPublisher_publisherRootWarning_LHAXa .ChatPublisher_actionsContainer_Jba0Y, .ChatPublisher_publisherRootWarning_LHAXa .ChatPublisher_editor_Wj_fs, .ChatPublisher_publisherRootWarning_LHAXa .ChatPublisher_sendContainer_LqLVm {
        background-color: #4a4a4a
    }

    .Chat_root_PXmj9 {
        background-color: #141414
    }

    .FeedStreamFooter_container_vNfny {
        background-color: #262626
    }

    .FeedStreamFooter_dotsIcon_xYGwz {
        fill: #f1f1f1
    }

    .FeedStreamFooter_theatreButton_e0zCQ {
        color: #f1f1f1
    }

    .PostAccessInfo_root_Yttn5 {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .PostAccessLabel_dropdown_gA2Pi {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .PostAccessLabel_dropdown_ig98D {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .StreamActionsMenu_dropdown_chVkA {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .PostActionsMenu_dropdown_MBXoD {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .CommentMenu_dropdown_QMRti {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .PostFooter_dropdown_roX2P {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .FilterSelect_arrow_rA7Gh {
        fill: #7c7c7c
    }

    .FilterSelect_placeholder_XCeIi {
        color: #7c7c7c
    }

    .FilterSelect_select_ELgh4 {
        border: unset;
        color: #f1f1f1
    }

    .FilterSelect_select_ELgh4:after {
        background-color: #eaeaea
    }

    .FilterSelect_select_ELgh4.FilterSelect_disabled_o0e8k {
        background-color: #141414
    }

    .FilterSelect_select_ELgh4.FilterSelect_disabled_o0e8k .FilterSelect_placeholder_XCeIi {
        color: #ccc
    }

    .FilterSelect_select_ELgh4.FilterSelect_disabled_o0e8k .FilterSelect_arrow_rA7Gh {
        fill: #ccc
    }

    .FilterSelectByDate_root_nuhmR {
        background-color: #fff
    }

    .FilterSelectByDate_tooltip_JJJJ7 {
        padding: 0
    }

    .Filter_container_I7MUg {
        background-color: #141414
    }

    .FeedFilter_searchButton_owPUZ:after {
        background-color: #eaeaea
    }

    .FeedFilter_searchIcon_xmenN {
        color: #f1f1f1
    }

    .SearchFilter_container_GflLi, .light-theme .SearchFilter_container_GflLi {
        background-color: #fff;
        border-top-color: #eaeaea
    }

    .SearchByPosts_searchInput_Pf6rw, .SearchByPosts_searchInput_Pf6rw:hover, .light-theme .SearchByPosts_searchInput_Pf6rw, .light-theme .SearchByPosts_searchInput_Pf6rw:hover {
        border-color: #fff !important
    }

    .StreamChatToggler_chatWrapper_MSMj8 {
        background-color: #262626
    }

    .StreamChatToggler_chatButtons_NGJQO {
        border-bottom-color: transparent
    }

    .StreamChatToggler_icon_UQ8JB {
        color: #f1f1f1
    }

    .StreamChatToggler_button_lsixE {
        background-color: #303030;
        border-color: transparent
    }

    .StreamChatToggler_chatTitle_lZ4Vs {
        color: #f1f1f1
    }

    .StreamPanel_streamPanel_IvFqB {
        background-color: #191919
    }

    .StreamPanel_author_IX4jk {
        color: #f1f1f1
    }

    .StreamPanel_title_sg_8u {
        color: #f1f1f1
    }

    .StreamPanel_streamFooter_rQ7On {
        background-color: #191919
    }

    .StreamPage_block_tylnK {
        background-color: #191919
    }

    .Stream_loader_QEzZK {
        background-color: #262626
    }

    .RichEditor_editor_udY6x {
        background-color: transparent;
        border: 1px solid #4a4a4a;
        border-radius: 8px;
        color: #f1f1f1
    }

    .RichEditor_editor_udY6x:hover {
        border-color: #838383
    }

    .RichEditor_editor_udY6x:active {
        border-color: #f15f2c
    }

    ::selection {
        background-color: hsla(0, 0%, 95%, .2) !important
    }

    .ce-inline-toolbar {
        background-color: #303030
    }

    .ce-inline-tool-input {
        background-color: #303030;
        color: #f1f1f1
    }

    .ce-inline-toolbar, .ce-settings {
        border: 1px solid #303030 !important
    }

    .ce-inline-tool {
        color: #f1f1f1
    }

    .ce-inline-tool:hover {
        color: #262626
    }

    .ce-block--selected .ce-block__content {
        background-color: #fbcfc0 !important
    }

    .ce-paragraph[data-placeholder]:empty:before {
        color: #8c8c8c;
        opacity: 0
    }

    .QrDropdownButton_dropdown_nfDhW {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .PaymentBindListItem_boldString_grLX8 {
        color: #f1f1f1;
        font-weight: 500
    }

    .PaymentBindListItem_container_VgU_T.PaymentBindListItem_hasError_XtfmQ {
        background: rgba(205, 53, 68, .1);
        border: 1px solid #cd3544
    }

    .PaymentBindListItem_settingsPopup_h7qfU {
        padding: 12px 15px
    }

    .PaymentBindListItem_settingsPopup_h7qfU {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .SettingsEditPhoneField_label_VrC8H {
        color: #f1f1f1
    }

    .SettingsEdit_blockTitle_lMypl {
        color: #f1f1f1
    }

    .SettingsSocial_blockTitle_ndfHh {
        color: #f1f1f1
    }

    .SettingsAgents_blockTitle_j2fKT {
        color: #f1f1f1
    }

    .SearchMultiSelect_suggestContainer_u7kkg {
        background-color: #262626;
        border-color: #303030;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .1)
    }

    .SearchMultiSelect_suggestItem_fVxHQ {
        transition: background-color .3s
    }

    .SearchMultiSelect_suggestItem_fVxHQ:hover {
        background-color: #303030
    }

    .SearchMultiSelect_iconReset_CtTfO, .SearchMultiSelect_iconSearch_mgSVA {
        color: #838383
    }

    .SearchMultiSelect_iconSearchFocused_ef7VO {
        color: #f1f1f1
    }

    .SearchMultiSelect_selectedOptionsLabel_NHXJ3 {
        background-color: #262626
    }

    .Search_input_oVQtG {
        border-color: #303030
    }

    .Search_input_oVQtG.Search_filled_vU26Y {
        background-color: #303030
    }

    .Search_searchIcon_dSQkO {
        color: #7c7c7c
    }

    .FeedFilter_searchButton_mGeBF:after {
        background-color: #eaeaea
    }

    .FeedFilter_searchIcon_W97ZR {
        color: #f1f1f1
    }

    .SearchResultEmpty_heading_QajGK {
        color: #f1f1f1
    }

    .SearchResultEmpty_description_ZWoeq {
        color: #7c7c7c
    }

    .SearchResultEmpty_picture_tFhxs {
        background-image: url(/assets/images/search-not-found.CNrw8.svg)
    }

    .ResultRightSection_count_FmASw {
        color: #f1f1f1
    }

    .ResultRightSection_text_nhpJ9 {
        color: #7c7c7c
    }

    .ResultItem_resultItem_YYpYv {
        border-color: #303030
    }

    .ResultList_resultEmpty_vq6Ny, .light-theme .ResultList_resultEmpty_vq6Ny {
        border-color: #eaeaea
    }

    .PromoBannerContent_messageList_gUha5 {
        background-color: #262626;
        border-color: #303030;
        color: #f1f1f1
    }

    .UiKit_popupRow__vt85 {
        color: #f1f1f1
    }

    .UiKit_trashIcon_go6EL {
        fill: #f1f1f1
    }

    .UiKit_popupContent_Ozi8w, .UiKit_title_cfypY {
        color: #f1f1f1
    }

    .OauthAuthorize_title_c2FSP {
        color: #f1f1f1
    }

    body {
        scrollbar-color: #4a4a4a hsla(0, 0%, 100%, 0)
    }

    body::-webkit-scrollbar-thumb {
        background-color: #4a4a4a
    }

    body {
        background-color: #191919;
        color: #f1f1f1
    }

    .transparent_bg {
        background-color: transparent;
    }
}