@media (prefers-color-scheme: dark) {
    .kix-appview-editor {
        background-color: rgb(37,37,37) !important;
    }

    .docs-grille-gm3 #docs-chrome:not(.docs-hub-chrome),
    .docs-grille-gm3 #docs-header:not(.docs-hub-appbar) .docs-titlebar-buttons {
        background-color: #1f1f1f;
    }

    .docs-gm .docs-menubar .goog-control {
        color: #eee;
    }

    .docs-title-input-label-inner {
        color: #fff;
    }

    .docs-grille-gm3.docs-gm .docs-material #docs-toolbar-wrapper {
        background-color: rgba(0,0,0,0.5);
    }
    .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button,
    .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button,
    .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-menu-button {
        background-color: rgba(0,0,0,0);
        color: #eee;
    }

    .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button.goog-toolbar-button-checked {
        background-color: #6fa7ff;
    }

    .docs-grille-gm3 .navigation-item-content:not(.navigation-item-level-0),
    .docs-grille-gm3 .outline-refresh .navigation-item .navigation-item-level-0,
    .docs-grille-gm3 .navigation-widget-header,
    .jfk-button-standard {
        color: #eee;
    }

    .docs-grille-gm3 .outline-refresh .navigation-item.location-indicator-highlight .navigation-item-content {
        color: #6fa7ff;
    }
}