@media (prefers-color-scheme: dark) {
    body,
    #app > .MuiBox-root > .MuiStack-root > .MuiBox-root > div > .MuiBox-root,
    #app > .MuiBox-root > .MuiStack-root > .MuiBox-root > div > .MuiBox-root > .MuiContainer-root > div,
    #app > .MuiBox-root > .MuiBox-root {
        background-color: #222;
        color: #fff;
    }

    #app > .MuiBox-root > .MuiStack-root > .MuiBox-root > div > .MuiBox-root > .MuiContainer-root > div .MuiLink-root {
        color: #fff;
    }

    header.MuiPaper-root.MuiPaper-outlined.MuiAppBar-root,
    header.MuiPaper-root.MuiPaper-outlined.MuiAppBar-root > .MuiContainer-root {
        background: rgb(2 51 89);
    }

    #app > .MuiBox-root > .MuiStack-root > .MuiBox-root > .MuiStack-root > .MuiContainer-root a > .MuiBox-root,
    div[data-testid="repotagsTagListItem"] > div {
        background-color: #333;
        border: 1px solid #111;
    }

    div[data-testid="repotagsTagListItem"] > div a {
        color: #0af;
    }

    #app > .MuiBox-root > .MuiStack-root > .MuiBox-root > .MuiStack-root > .MuiContainer-root a .MuiBox-root .MuiTypography-root.MuiTypography-body1 {
        color: #fefefe;
    }
}