@media (prefers-color-scheme: dark) {
    html {
        --away-indicator-rgb: 193, 185, 102 !important;
        --button-bg-rgb: 1, 119, 231 !important;
        --button-color-rgb: 255, 255, 255 !important;
        --center-channel-bg-rgb: 31, 31, 31 !important;
        --center-channel-color-rgb: 221, 221, 221 !important;
        --dnd-indicator-rgb: 232, 16, 35 !important;
        --error-text-color-rgb: 255, 100, 97 !important;
        --link-color-rgb: #0d93ff !important;
        --mention-bg-rgb: 1, 119, 231 !important;
        --mention-color-rgb: 255, 255, 255 !important;
        --mention-highlight-bg-rgb: 120, 64, 152 !important;
        --mention-highlight-link-rgb: 164, 255, 235 !important;
        --mention-highlight-bg-mixed-rgb: 75,47,91 !important;
        --pinned-highlight-bg-mixed-rgb: 52,38,60 !important;
        --own-highlight-bg-rgb: 125,71,155 !important;
        --new-message-separator-rgb: 204, 153, 45 !important;
        --online-indicator-rgb: 57, 159, 255 !important;
        --sidebar-bg-rgb: 23, 23, 23 !important;
        --sidebar-header-bg-rgb: 31, 31, 31 !important;
        --sidebar-teambar-bg-rgb: 24, 24, 24 !important;
        --sidebar-header-text-color-rgb: 255, 255, 255 !important;
        --sidebar-text-rgb: 255, 255, 255 !important;
        --sidebar-text-active-border-rgb: 25, 108, 175 !important;
        --sidebar-text-active-color-rgb: 255, 255, 255 !important;
        --sidebar-text-hover-bg-rgb: 48, 46, 48 !important;
        --sidebar-unread-text-rgb: 255, 255, 255 !important;
        --sidebar-bg: #171717 !important;
        --sidebar-text: #ffffff !important;
        --sidebar-unread-text: #ffffff !important;
        --sidebar-text-hover-bg: #302e30 !important;
        --sidebar-text-active-border: #196caf !important;
        --sidebar-text-active-color: #ffffff !important;
        --sidebar-header-bg: #1f1f1f !important;
        --sidebar-teambar-bg: #181818 !important;
        --sidebar-header-text-color: #ffffff !important;
        --online-indicator: #399fff !important;
        --away-indicator: #c1b966 !important;
        --dnd-indicator: #e81023 !important;
        --mention-bg: #0177e7 !important;
        --mention-color: #ffffff !important;
        --center-channel-bg: #1f1f1f !important;
        --center-channel-color: #dddddd !important;
        --new-message-separator: #cc992d !important;
        --link-color: #0d93ff !important;
        --button-bg: #0177e7 !important;
        --button-color: #ffffff !important;
        --error-text: #ff6461 !important;
        --mention-highlight-bg: #784098 !important;
        --mention-highlight-link: #a4ffeb !important;
        --sidebar-text-08: rgba(255,255,255,0.08) !important;
        --sidebar-text-16: rgba(255,255,255,0.16) !important;
        --sidebar-text-30: rgba(255,255,255,0.3) !important;
        --sidebar-text-40: rgba(255,255,255,0.4) !important;
        --sidebar-text-50: rgba(255,255,255,0.5) !important;
        --sidebar-text-60: rgba(255,255,255,0.6) !important;
        --sidebar-text-72: rgba(255,255,255,0.72) !important;
        --sidebar-text-80: rgba(255,255,255,0.8) !important;
        --sidebar-header-text-color-80: rgba(255,255,255,0.8) !important;
        --center-channel-bg-88: rgba(31,31,31,0.88) !important;
        --center-channel-color-88: rgba(221,221,221,0.88) !important;
        --center-channel-bg-80: rgba(31,31,31,0.8) !important;
        --center-channel-color-80: rgba(221,221,221,0.8) !important;
        --center-channel-color-72: rgba(221,221,221,0.72) !important;
        --center-channel-bg-64: rgba(31,31,31,0.64) !important;
        --center-channel-color-64: rgba(221,221,221,0.64) !important;
        --center-channel-bg-56: rgba(31,31,31,0.56) !important;
        --center-channel-color-56: rgba(221,221,221,0.56) !important;
        --center-channel-color-48: rgba(221,221,221,0.48) !important;
        --center-channel-bg-40: rgba(31,31,31,0.4) !important;
        --center-channel-color-40: rgba(221,221,221,0.4) !important;
        --center-channel-bg-30: rgba(31,31,31,0.3) !important;
        --center-channel-color-32: rgba(221,221,221,0.32) !important;
        --center-channel-bg-20: rgba(31,31,31,0.2) !important;
        --center-channel-color-20: rgba(221,221,221,0.2) !important;
        --center-channel-bg-16: rgba(31,31,31,0.16) !important;
        --center-channel-color-24: rgba(221,221,221,0.24) !important;
        --center-channel-color-16: rgba(221,221,221,0.16) !important;
        --center-channel-bg-08: rgba(31,31,31,0.08) !important;
        --center-channel-color-08: rgba(221,221,221,0.08) !important;
        --center-channel-color-04: rgba(221,221,221,0.04) !important;
        --link-color-08: rgba(13,147,255,0.08) !important;
        --button-bg-88: rgba(1,119,231,0.88) !important;
        --button-color-88: rgba(255,255,255,0.88) !important;
        --button-bg-80: rgba(1,119,231,0.8) !important;
        --button-color-80: rgba(255,255,255,0.8) !important;
        --button-bg-72: rgba(1,119,231,0.72) !important;
        --button-color-72: rgba(255,255,255,0.72) !important;
        --button-bg-64: rgba(1,119,231,0.64) !important;
        --button-color-64: rgba(255,255,255,0.64) !important;
        --button-bg-56: rgba(1,119,231,0.56) !important;
        --button-color-56: rgba(255,255,255,0.56) !important;
        --button-bg-48: rgba(1,119,231,0.48) !important;
        --button-color-48: rgba(255,255,255,0.48) !important;
        --button-bg-40: rgba(1,119,231,0.4) !important;
        --button-color-40: rgba(255,255,255,0.4) !important;
        --button-bg-30: rgba(1,119,231,0.32) !important;
        --button-color-32: rgba(255,255,255,0.32) !important;
        --button-bg-24: rgba(1,119,231,0.24) !important;
        --button-color-24: rgba(255,255,255,0.24) !important;
        --button-bg-16: rgba(1,119,231,0.16) !important;
        --button-color-16: rgba(255,255,255,0.16) !important;
        --button-bg-08: rgba(1,119,231,0.08) !important;
        --button-color-08: rgba(255,255,255,0.08) !important;
        --button-bg-04: rgba(1,119,231,0.04) !important;
        --button-color-04: rgba(255,255,255,0.04) !important;
        --error-text-08: rgba(255,100,97,0.08) !important;
        --error-text-12: rgba(255,100,97,0.12) !important;
        --sidebar-white-logo: true !important;
        --link-visited-color-rgb: #551a8b !important;
        --prop-default: hsla(0, 100%, 100%, 0.08) !important;
        --prop-gray: hsla(0, 0%, 70%, 0.4) !important;
        --prop-brown: hsla(25, 60%, 40%, 0.4) !important;
        --prop-orange: hsla(35, 100%, 50%, 0.4) !important;
        --prop-yellow: hsla(48, 100%, 70%, 0.4) !important;
        --prop-green: hsla(120, 100%, 70%, 0.4) !important;
        --prop-blue: hsla(240, 100%, 70%, 0.4) !important;
        --prop-purple: hsla(270, 100%, 64%, 0.4) !important;
        --prop-pink: hsla(310, 100%, 80%, 0.4) !important;
        --prop-red: hsla(4, 100%, 70%, 0.4);
    }
    /*
    body,
    #post-list .post-list-holder-by-time,
    #channel_view.channel-view,
    .post-create__container {
      background: #1f1f1f;
      color: #eee;
    }

    .channel-header {
      background: #1f1f1f;
      color: rgba(221,221,221, 1);
    }

    .channel-header .heading,
    .channel-header__info .channel-header__description,
    .channel-header__info .channel-header__description button {
      color: rgba(221,221,221, 0.8) !important;
    }

    .status-wrapper .status {
      background: #1f1f1f;
    }

    .AdvancedTextEditor__body {
      border: 2px solid rgba(221,221,221, 0.3);
      color: rgba(221,221,221, 0.56) !important;
    }

    .AdvancedTextEditor__body textarea {
      color: #fefefe !important;
    }

    .AdvancedTextEditor__body .AutoHeight button {
      color: rgba(221,221,221, 0.56) !important;
    }*/

    .app__body .nav-tabs, .app__body .nav-tabs > li.active > a, pp__body .input-group-addon, .app__body .app__content, .app__body .post-create__container .post-create-body .btn-file, .app__body .post-create__container .post-create-footer .msg-typing, .app__body .dropdown-menu, .app__body .popover, .app__body .suggestion-list__item .suggestion-list__ellipsis .suggestion-list__main, .app__body .tip-overlay, .app__body .form-control[disabled], .app__body .form-control[readonly], .app__body fieldset[disabled] .form-control, .app__body .sidebar--right {
        color: rgb(221, 221, 221);
    }

    .app__body .channel-header .heading,
    body.app__body, .app__body .custom-textarea {
        color: rgb(221, 221, 221);
    }

    .msg-typing {
        color: #fff;
    }
}