@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f !important;
    }

    .theme-white .deco-pane, .theme-white .deco-pane-back, .theme-white .deco-pane-secondary, body .local-theme-white.deco-pane, body .local-theme-white .deco-pane, body .local-theme-white.deco-pane-back, body .local-theme-white .deco-pane-back, body .local-theme-white.deco-pane-secondary, body .local-theme-white .deco-pane-secondary {
        background-color: #1f1f1f;
        color: #eee;
        border-color: rgba(229,229,229,0.8);
    }

    .theme-white .deco-typo, body .local-theme-white.deco-typo, body .local-theme-white .deco-typo,
    .theme-white .nav-kids .typo-nav.current,
    .theme-white .typo-nav.current, body .local-theme-white.typo-nav.current, body .local-theme-white .typo-nav.current {
        color: #eee;
    }

    .theme-white .deco-player-controls, body .local-theme-white.deco-player-controls, body .local-theme-white .deco-player-controls {
        background-color: #555;
    }

    .theme-white .deco-progress .progress__bg,
    .theme-white .deco-progress .progress__progress_muted .progress__line {
        background-color: #111;
    }

    .theme-white .deco-link,body .local-theme-white.deco-link,body .local-theme-white .deco-link {
        color: #eee;
    }
}