@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f1f1f;
        color: #eee;
    }

    [data-widget="userAvatar"] div,
    [data-widget="userAvatar"] span {
        color: #eee;
    }

    [data-widget="menu"] div {
        color: #aaa;
    }

    [data-widget="menu"] a {
        color: #eee;
    }
    [data-widget="menu"] a:hover {
        color: #fff;
    }

    [data-widget="orderList"] div {
        background-color: #333;
    }
    [data-widget="orderList"] .s0f,
    [data-widget="orderList"] .e7r:nth-of-type(n+2) {
        border-top: 1px solid #111;
    }
    [data-widget="orderList"] span,
    [data-widget="orderList"] p {
        color: #eee;
    }
    [data-widget="orderList"] a {
        color: #1bc5ff;
    }

    [data-widget="wallpaper"],
    [data-widget="separator"] {
        background: transparent !important;
    }

    [data-widget="horizontalMenu"] ul li a {
        color: #aaa !important;
    }

    #stickyHeader:before {
        background: #333;
        border-bottom: 1px solid #222;
    }

    [data-widget="orderInfo"] span,
    [data-widget="orderInfo"] svg,
    [data-widget="profileLogo"] span,
    [data-widget="profileLogo"] svg,
    [data-widget="favoriteCounter"] span,
    [data-widget="favoriteCounter"] svg,
    [data-widget="headerIcon"] span,
    [data-widget="headerIcon"] svg {
        color: #aaa;
    }

    [data-widget="topBar"] {
        background: #333;
    }

    [data-widget="topBar"] ul li a {
        color: #ccc !important;
    }

    [data-widget="addressBookBarWeb"] span {
        color: #02b2e9;
    }

    .search-bar-wrapper {
        background: transparent;
    }
    .search-bar-wrapper > div {
        background: #333;
    }
    [data-widget="searchHistory"] a {
        color: #fff;
    }

    [data-widget="orderFilters"] button > span {
        background: #666;
        color: #ccc;
    }
    [data-widget="orderFilters"] button > span:hover {
        background: #888;
        color: #ddd;
    }

    [data-widget="tabsContainer"] span {
        color: #fff;
    }
    [data-widget="tabsContainer"] div a {
        color: #777 !important;
    }

    [data-widget="webAspects"] .iz8.zi9 {
        border-color: #3a3a3a !important;
        color: #eee;
    }
    [data-widget="webAspects"] .iz8.zi8 {
        border-color: transparent !important;
    }
    [data-widget="webAspects"] .z9i.jj .iz8 {
        border-color: #005bff !important;
        background: rgba(0, 91, 255, 0.23);
    }

    [data-widget="webCharacteristics"] span {
        background: transparent;
        color: #fff;
    }

    .a2i, .ia2 {
        color: #eee;
    }

    [data-widget="webProductHeading"] h1 {
        color: #eee;
    }

    [data-widget="bannerCarousel"] {
        display: none;
    }

    a .ha4 {
        color: #eee;
    }

    [data-widget="webListReviews"] .ow {
        color: #eee;
    }
}