@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
    }

    .tl_article .tl_article_content, .tl_article .tl_article_content .ql-editor, .tl_article .tl_article_header {
        color: #fafafa
    }
}