@media (prefers-color-scheme: dark) {
    html,
    .body-gray .wrapper,
    .basket-page__recomendation .goods-slider::before, .basket-page__recommend .goods-slider::before {
        background: #1f1e24;
    }

    .header {
        background-color: #410737;
    }

    .footer {
        background: #190429;
    }

    .delivery-block__content,
    .order-confirmed {
        background: #333;
        color: #eee;
    }

    .delivery-page .product__bottom,
    .delivery-page .product__detail-list,
    .delivery-page .product__bottom:after,
    .delivery-page .product__detail-item {
        background: #444;
        color: #fff
    }

    .delivery-page .product__pay-refund,
    .delivery-page .delivery-price__value,
    .delivery-page .delivery-block__title,
    .delivery-page .delivery-block__type,
    .delivery-page .delivery-address__info,
    .order-confirmed .order-confirmed__header,
    .order-confirmed .order-confirmed__data .data__value {
        color: #eee;
    }

    .lk-menu-sub__list {
        background: transparent;
    }
    .lk-menu-sub__list li.active a {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}